$top-color: #002b45;
$head-color: #fff;
@font-face {
  font-family: "William Subhead Pro Reg";
  src: url("../fonts/WilliamSubheadPro/");
  src: url("../fonts/WilliamSubheadPro/?#iefix") format("embedded-opentype"),
    url("../fonts/WilliamSubheadPro/dda735543eca19107b3902529118d764.woff2") format("woff2"),
    url("../fonts/WilliamSubheadPro/dda735543eca19107b3902529118d764.woff") format("woff"),
    url("../fonts/WilliamSubheadPro/dda735543eca19107b3902529118d764.ttf") format("truetype"),
    url("../fonts/WilliamSubheadPro/dda735543eca19107b3902529118d764.svg#William Subhead Pro Reg") format("svg");
}

@font-face {
  font-family: "Futura New";
  src: url("../fonts/FuturaNew/");
  src: local("../fonts/FuturaNew/Futura New Medium Reg"), local("FuturaNewMedium-Reg"),
    url("../fonts/FuturaNew/?#iefix") format("embedded-opentype"),
    url("../fonts/FuturaNew/FuturaNewMedium-Reg.woff2") format("woff2"),
    url("../fonts/FuturaNew/FuturaNewMedium-Reg.woff") format("woff"),
    url("../fonts/FuturaNew/FuturaNewMedium-Reg.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?92ysr1");
  src: url("../fonts/icomoon.eot?92ysr1#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?92ysr1") format("truetype"), url("../fonts/icomoon.woff?92ysr1") format("woff"),
    url("../fonts/icomoon.svg?92ysr1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-houzz:before {
  content: "\e901";
  color: #4dbc15;
}

.icon-input:before {
  content: "\e900";
}

.icon-search:before {
  content: "\f002";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-heart-o:before {
  content: "\f08a";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-youtube-play:before {
  content: "\f16a";
}

.icon-pinterest-p:before {
  content: "\f231";
}

.icon-shopping-bag:before {
  content: "\f290";
}

.icon-telegram:before {
  content: "\f2c6";
}

.icon-location2:before {
  content: "\e948";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-vk:before {
  content: "\ea98";
}