.big-container {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
  position: relative;
  width: 100%; }

.search__link::before {
  content: "\f002";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px;
  padding-right: 10px; }
.searchPanel__button-pin::before {
  content: "\f002";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px;
  padding-right: 20px; }
.searchPanel__button {
  margin-right: 60px;
  border: none;
  background-color: transparent; }

.mobile-nav-menu-list__item {
  color: #002b45;
  height: 60px;
  padding-top: 19px;
  font-size: 18px;
  display: inline-block; }

.header-nav-menu-mobile.menu--open li {
  border-bottom: 1.5px solid #e3e5ef;
  border-top: 1.5px solid #e3e5ef;
  width: 280px;
  padding-left: 15px; }

.header-nav-menu-mobile-table.menu--open li {
  border-bottom: 1.5px solid #e3e5ef;
  border-top: 1.5px solid #e3e5ef;
  width: 280px;
  padding-left: 15px; }

.header-nav-menu-mobile-sofa.menu--open li {
  border-bottom: 1.5px solid #e3e5ef;
  border-top: 1.5px solid #e3e5ef;
  width: 280px;
  padding-left: 15px; }

.menu-mobile__title::after {
  content: "\f105";
  font-family: "icomoon";
  color: #002b45;
  font-size: 19px;
  position: absolute;
  left: 270px; }

.menu-mobile-town__title::after {
  font-family: "icomoon";
  color: #002b45;
  font-size: 17px;
  position: absolute;
  left: 270px;
  content: "\f08a"; }

.menu-mobile-town__title::before {
  font-family: "icomoon";
  color: #002b45;
  font-size: 17px;
  content: "\e948"; }

.menu-mobile-catalog__title::after {
  content: "\f105";
  font-family: "icomoon";
  color: #002b45;
  font-size: 19px;
  position: absolute;
  left: 270px; }

.menu-mobile-catalog__title::before {
  content: "\f0c9";
  font-family: "icomoon";
  color: #002b45;
  font-size: 19px;
  left: 12px;
  position: absolute;
  top: 22px; }

.menu-mobile-catalog-table__title::after {
  content: "\f105";
  font-family: "icomoon";
  color: #002b45;
  font-size: 19px;
  position: absolute;
  left: 270px; }

.menu-mobile-catalog-table__title::before {
  content: "\f0c9";
  font-family: "icomoon";
  color: #002b45;
  font-size: 19px;
  left: 12px;
  position: absolute;
  top: 22px; }

.menu-mobile-catalog-sofa__title::after {
  content: "\f105";
  font-family: "icomoon";
  color: #002b45;
  font-size: 19px;
  position: absolute;
  left: 270px; }

.menu-mobile-catalog-sofa__title::before {
  content: "\f0c9";
  font-family: "icomoon";
  color: #002b45;
  font-size: 19px;
  left: 12px;
  position: absolute;
  top: 22px; }

.header-nav-menu-mobile.menu--open, .header-nav-menu-mobile-table.menu--open, .header-nav-menu-mobile-sofa.menu--open {
  list-style: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 5;
  background-color: #fff;
  color: #002b45; }
.header-nav-menu-mobile, .header-nav-menu-mobile-table, .header-nav-menu-mobile-sofa {
  display: none; }
.header-middle__nav {
  display: none; }
.header-middle {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  font-size: 15px; }
.header-middle-rnav {
  display: flex;
  width: 114px;
  margin-right: 60px; }
.header-nav {
  display: flex;
  justify-content: space-between; }
.header-nav-menu-list {
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px; }
.header-favorite__link {
  padding: 0 19px; }
.header-nav-menu-list__img {
  width: 30px;
  height: 27px; }
.header-nav-menu-list__item {
  display: flex;
  font-size: 15px;
  padding-right: 10px; }
.header-auth__link::before {
  content: "\e900";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }
.header-favorite__link::before {
  content: "\f08a";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }
.header-cart__link::before {
  content: "\f290";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }
.header-city__btn, .header-nav__btn {
  border: none;
  background-color: transparent; }

.map-pin__link {
  margin-left: 60px;
  font-size: 20px; }
.map-map-pin__link::before {
  content: "\e948";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }

.slider {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto; }
.slider-vase__inner, .slider-table__inner, .slider-sofa__inner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  object-fit: cover;
  width: 100vh;
  position: relative; }
.slider-vase__inner {
  background-image: url(../images/slider-bg1.jpg); }
.slider-table__inner {
  background-image: url(../images/slider-bg2.jpg); }
.slider-sofa__inner {
  background-image: url(../images/slider-bg3.jpg); }

.menu-mobile__img::before {
  content: "\f0c9";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }

.menu-mobile__btn::before {
  content: "\f0c9";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }

.menu-mobile__btn {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 25px;
  z-index: 10; }

.menu-mobile-table__btn::before {
  content: "\f0c9";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }

.menu-mobile-table__btn {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 25px;
  z-index: 10; }

.menu-mobile-sofa__btn::before {
  content: "\f0c9";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }

.menu-mobile-sofa__btn {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 25px;
  z-index: 10; }

.select-pin__link {
  margin-left: 60px;
  font-size: 18px; }
.select-pin__link:hover {
  color: #e3ae46; }

.item__title {
  font-family: "William Subhead Pro Reg";
  font-weight: normal;
  line-height: 41px;
  max-width: 1015px;
  padding-top: 50px;
  margin-bottom: 33px;
  color: #fff;
  margin-left: 60px;
  font-size: 40px; }
.item__btn {
  display: inline-block;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 32px;
  background-color: transparent;
  position: absolute;
  transition: all 0.3s;
  border: 1.5px solid #fff;
  width: 168px;
  height: 50px;
  margin-left: 60px; }
.item__btn:hover {
  background-color: #e3ae46;
  transition: all 0.3s; }
.item__link {
  color: #fff; }

.slick-dots li button {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-radius: 7px;
  border: 1.5px solid #fff; }
.slick-dots li.slick-active button {
  background-color: #fff; }
.slick-dots li button:before {
  display: none; }
.slick-dots {
  position: absolute;
  bottom: 29px;
  text-align: left;
  margin-left: 60px;
  width: 200px; }
.slick-dots li {
  width: 14px;
  height: 14px;
  margin: 0px 2px; }

.select-pin__link::after {
  content: "\f107";
  font-family: "icomoon";
  color: #fff;
  font-size: 17px; }

.product-prev.slick-arrow {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 129px;
  background-color: transparent;
  border: transparent; }
.product-next.slick-arrow {
  background-color: transparent;
  border: transparent;
  position: absolute;
  z-index: 1;
  bottom: 26px;
  left: 205px; }
.product-one-tabs {
  margin-top: 23px; }

.TitleText {
  font-family: "William Subhead Pro Reg"; }

/*# sourceMappingURL=header.css.map */
