@media (max-width: 1250px) {
  .small-new-menu__item, .small-sale-menu__item, .small-availability-menu__item {
    display: block;
    text-align: center;
    padding-top: 15px; }
  .small-menu__title {
    padding-top: 0; }
  .small__info {
    margin-right: 50px; }

  .model__info {
    margin-right: 50px;
    position: relative; }
  .model__box {
    position: relative; }
  .model__btn {
    right: 52px; }
  .model__link {
    white-space: nowrap; }
  .model__text {
    padding: 0 30px; }

  .artist__right.slick-arrow {
    left: -5px; }
  .artist__left.slick-arrow {
    right: 76px; } }
@media (max-width: 1151px) {
  .currentsearchTitleText {
    display: none; }

  .slick-slide img {
    display: inline; }

  .home-page__title {
    display: block; }

  .container {
    padding-left: 20px;
    padding-right: 20px; }

  .sample__images {
    height: 89vh; }
  .sample-dots {
    right: 273px; }

  .innovation__text {
    line-height: 16px; }

  .picture__subtitle {
    font-size: 20px; }

  .picture__box {
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #e3e5ef; }
  .picture__link {
    border-right: none; }
  .picture__item:nth-child(even) {
    border-left: 1px solid #e3e5ef; }
  .picture__item:nth-child(odd) {
    margin-right: 40px; }

  .footer-last-info__item {
    display: block; }
  .footer-info-first__item {
    display: none; }
  .footer-info {
    flex-wrap: wrap;
    justify-content: center; }
  .footer-last-info__link {
    display: flex;
    gap: 7px; }
  .footer-last-info__item {
    margin-top: 35px; }

  .model__images {
    height: 89vh; } }
@media (max-width: 1041px) {
  .footer-info {
    display: block; }
  .footer-social {
    display: block; }
  .footer-contact {
    border-bottom: none; }
  .footer__wrapper {
    display: block; }
  .footer-email__input {
    width: 400px;
    margin-right: 10px; }
  .footer-submit__input {
    width: 200px; }
  .footer__text {
    margin-bottom: 15px; }
  .footer__box {
    text-align: center; }
  .footer-info__title {
    padding-left: 0; }
  .footer__img {
    display: block; }
  .footer-info-question-last__item {
    display: block; }
  .footer-middle__item::after {
    display: none; }
  .footer-last-info__item, .footer-social, .footer-map__box {
    display: none; }
  .footer-big__description {
    display: block; }
  .footer__description {
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid rgba(227, 229, 239, 0.2);
    padding-bottom: 30px; }
  .footer-title__description, .footer-catalog__box {
    width: 50%; }
  .footer-title__description {
    border-left: 1px solid rgba(227, 229, 239, 0.2); }
  .footer-catalog-description__title {
    font-size: 17px;
    text-transform: uppercase;
    white-space: nowrap;
    padding-left: 7px; }
  .footer-title__description {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 40px;
    justify-content: space-around; }
  .footer-pin__img {
    display: flex;
    justify-content: center;
    gap: 18px;
    padding-bottom: 19px; }
  .footer-pin__box {
    display: flex;
    position: relative;
    gap: 15px; }
  .footer-pin {
    border-bottom: 1px solid rgba(227, 229, 239, 0.2);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px; }
  .footer-pin__title:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50px;
    top: 7px;
    margin-left: 40px; }
  .footer-pin__title:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50px;
    top: 7px;
    margin-left: -44px;
    margin-left: -44px; }
  .footer-bankcards__box {
    display: flex;
    justify-content: center;
    gap: 15px; }
  .footer-bankcards__title {
    text-align: center; }
  .footer-contact {
    border-top: none; }
  .footer-info__box {
    justify-content: center; }

  .faq {
    border-left: none;
    padding-right: 0; }

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(227, 229, 239, 0.2);
    border-bottom: 1px solid rgba(227, 229, 239, 0.2);
    height: 46px; }

  .answer,
  .footer-part__title,
  .footer-part__title {
    max-height: 0;
    overflow: hidden; } }
@media (max-width: 980px) {
  .comfort {
    display: block; }
  .comfort__title {
    display: none; }
  .comfort-subtitle-one__link {
    display: block; }
  .comfort__inner {
    display: flex;
    flex-direction: row-reverse; }
  .comfort__btn {
    margin-bottom: 0;
    position: absolute; }
  .comfort__list {
    margin-right: 35px; }
  .comfort__btn {
    margin-left: 262px;
    left: 0;
    bottom: 75px; }
  .comfort__box {
    margin: 0 auto; }

  .blog-new__box {
    padding-left: 5px;
    padding-right: 5px; } }
@media (max-width: 950px) {
  .header-middle, .header-nav {
    display: none; }
  .header-middle__nav {
    display: block;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    margin-bottom: 67px; }

  .logo__img {
    max-width: 200px; }

  .menu-mobile__img {
    width: 47px; }

  .menu-mobile__btn {
    display: flex;
    margin-left: 7px; }

  .menu-mobile-table__btn {
    display: flex;
    margin-left: 7px; }

  .menu-mobile-sofa__btn {
    display: flex;
    margin-left: 7px; }

  .header-nav-menu-mobile.menu--open {
    display: block;
    top: -15px; }

  .header-nav-menu-mobile-table.menu--open {
    display: block;
    top: -15px; }

  .header-nav-menu-mobile-sofa.menu--open {
    display: block;
    top: -15px; }

  .search__button {
    display: flex;
    border: none;
    background-color: transparent;
    margin-left: 20px; }

  .item__title {
    font-size: 34px; }

  .tape {
    flex-wrap: wrap;
    padding-top: 0; }
  .tape__item {
    width: 50%; }
  .tape__item:nth-child(2) {
    border-right: none; }
  .tape__wrapper {
    background-color: #fbf7f1; }

  .sample__box {
    display: block;
    margin-bottom: 30px; }
  .sample__info {
    border: none;
    padding-top: 20px;
    max-width: 100%;
    display: flex;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 0.5px solid #e3e5ef;
    max-height: 200px;
    padding-bottom: 30px; }
  .sample__box {
    padding: 0 50px; }
  .sample__images {
    max-width: 100%; }
  .sample__text {
    max-width: 357px;
    padding: 0 30px 30px; }
  .sample__title {
    text-align: left; }
  .sample-dots {
    left: -31px;
    bottom: -26px; }
  .sample-detail__btn {
    bottom: 24px;
    margin-left: 393px; }
  .sample__btn {
    right: 56px;
    bottom: -29px; }

  .model__box {
    flex-direction: column-reverse;
    margin-bottom: 30px; }
  .model__info {
    border: none;
    padding-top: 20px;
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 0.5px solid #e3e5ef;
    padding-bottom: 70px;
    display: flex; }
  .model__box {
    padding: 0 50px; }
  .model__images {
    max-width: 100%; }
  .model__text {
    padding: 0 30px 30px; }
  .model__subtitle, .model__title {
    text-align: left; }
  .model__subtitle {
    width: 246px; }
  .model-dots {
    left: -31px;
    bottom: -26px; }
  .model-detail__btn {
    bottom: 71px;
    margin-left: 270px; }
  .model__btn {
    right: 56px;
    bottom: -29px; }

  .innovation__title {
    line-height: normal;
    font-size: 24px; }

  .subscription-adaptive {
    display: block;
    padding-bottom: 30px; }
  .subscription {
    display: none; } }
@media (max-width: 930px) {
  .interior__title {
    font-size: 20px; }
  .interior__text {
    font-size: 16px; }

  .sample__images {
    height: auto; }
  .sample__box {
    padding: 0; }

  .model__images {
    height: auto; }
  .model__box {
    padding: 0; } }
@media (max-width: 880px) {
  .innovation__wrapper {
    height: 195px;
    margin-left: 50px;
    margin-right: 50px; }

  .swiper {
    display: block; }

  .blog-new {
    display: none; }
  .blog-chapter__nav {
    margin-bottom: 0; }

  .artist__inner {
    display: none; }

  .creative__box {
    border: none;
    margin-bottom: 10px; }

  .picture__item:nth-child(even) {
    border-left: none;
    padding-bottom: 21px; }
  .picture__item:nth-child(odd) {
    margin-right: 0;
    padding-bottom: 21px; } }
@media (max-width: 828px) {
  .picture__item {
    border-bottom: 0.5px solid #e3e5ef; }
  .picture__item:last-child {
    border-bottom: none; }

  .sample {
    border-bottom: none; }

  .comfort__list {
    line-height: 40px; } }
@media (max-width: 760px) {
  .blog__subtitle {
    margin-right: 30px; }

  .small-menu__btn {
    width: 100%; }
  .small__box {
    display: block; }
  .small-new-menu__item, .small-sale-menu__item, .small-availability-menu__item {
    display: flex;
    justify-content: space-around; }
  .small-menu__title {
    padding-top: 25px; }
  .small-menu__title {
    font-size: 20px; }
  .small-menu__img {
    width: 150px;
    height: 110px; }

  .stock {
    display: block; }
  .stock__inner {
    width: 70%;
    margin: 0 auto 20px auto; }

  .interior__box {
    display: block; }
  .interior__inner {
    width: 100%;
    margin: 0 auto 20px auto; }

  .design__img {
    height: 150px; }

  .sample__info {
    display: block;
    max-height: none;
    height: 260px; }
  .sample__subtitle {
    text-align: left; }
  .sample__text {
    padding: 0; }
  .sample-detail__btn {
    bottom: 21px;
    margin-left: 0; }

  .model__info {
    display: block;
    max-height: none;
    height: 260px; }
  .model__subtitle {
    text-align: left; }
  .model__text {
    padding: 0; }
  .model-detail__btn {
    bottom: 21px;
    margin-left: 0; }

  .comfort__inner {
    display: flex;
    flex-direction: column-reverse; }
  .comfort__list {
    display: flex;
    gap: 5px;
    padding-bottom: 30px;
    border-bottom: 0.5px solid #e3e5ef;
    font-size: 23px; }
  .comfort__text {
    padding-bottom: 50px; }
  .comfort__btn {
    margin-left: 79px;
    bottom: 30px; }
  .comfort__list {
    font-size: 23px; }
  .comfort {
    padding-left: 45px;
    padding-right: 45px; }
  .comfort__box {
    width: auto;
    height: auto; }
  .comfort__images {
    width: 100%;
    height: auto; } }
@media (max-width: 730px) {
  .tape {
    display: block;
    background-color: #fbf7f1; }
  .tape__item {
    text-align: left;
    margin-left: 45px;
    border-right: none;
    border-bottom: 1px solid #e3e5ef;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative; }
  .tape__item:last-child {
    border-bottom: none; }
  .tape-showroom__title, .tape-fitting__title, .tape-design__title, .tape-credit__title, .tape__text, .tape__item {
    max-width: 50vh; }
  .tape__text {
    padding-left: 51px; }
  .tape__img {
    position: absolute;
    padding-right: 15px;
    top: 32px;
    left: -10px; }

  .trend-prev,
  .trend-next {
    display: none; }

  .comfort__inner {
    padding-top: 40px; }
  .comfort__list {
    flex-wrap: wrap; } }
@media (max-width: 700px) {
  .question {
    width: auto; }

  .faq {
    border-left: none;
    padding-right: 0; }

  .footer-info {
    width: 100%; }
  .footer-email__input, .footer-submit__input {
    width: 100%;
    margin-bottom: 15px; }
  .footer-contact {
    border-bottom: none;
    flex-direction: column; }
  .footer-contact__mail::after {
    display: none; }
  .footer-contact__mail::before {
    display: none; }
  .footer-info__mail::after {
    padding-left: 17px; }
  .footer-catalog__box {
    display: block; }
  .footer-pin__title::before {
    display: none; }
  .footer-pin__title::after {
    display: none; } }
@media (max-width: 650px) {
  .item__title {
    max-width: 450px; }

  .header-favorite__link {
    display: none; }
  .header-auth__link {
    padding-right: 10px; }

  .small__box {
    margin-bottom: 50px; }

  .small-menu__btn {
    margin: 50px auto 50px; }

  .tape {
    margin-bottom: 50px; }

  .stock {
    margin-bottom: 50px; }

  .design__wrapper {
    margin-bottom: 50px; }

  .interior__box {
    margin-bottom: 0; }

  .sample {
    padding-top: 0px; }

  .model {
    padding-top: 0; }

  .model__slider {
    padding-top: 0; }

  .model__slider {
    margin-top: 40px;
    margin-bottom: 40px; }

  .artist {
    margin-bottom: 50px; }

  .subscription-adaptive {
    margin-top: 40px;
    margin-bottom: 40px; }

  .blog__menu {
    margin-bottom: 0; }

  .picture__wrapper {
    margin-bottom: 50px; }

  .tab-catalog__title, .tab-room__title, .tab-style__title {
    font-size: 19px;
    font-family: "Futura New";
    text-transform: uppercase; }
  .tab-catalog__title::after, .tab-room__title::after {
    display: none; }

  .tabs {
    margin-bottom: 66px; }

  .design__title {
    font-size: 26px; }
  .design__text {
    font-size: 14px; } }
@media (max-width: 565px) {
  .logo__img {
    width: 150px; }

  .header-middle__nav {
    gap: 75px;
    justify-content: left; }

  .stock__inner {
    width: 288px;
    height: 195px; }
  .stock__title {
    font-size: 25px; }

  .design__box {
    right: 10px; }

  .sample__box {
    padding: 0;
    max-height: 100%; }

  .model__box {
    padding: 0;
    max-height: 100%; }
  .model__info {
    height: auto; }

  .comfort {
    padding-left: 0;
    padding-right: 0; }

  .footer-pin__box {
    flex-wrap: wrap;
    gap: 15px; } }
@media (max-width: 500px) {
  .sample__link {
    white-space: nowrap; }
  .sample-detail__btn {
    right: auto;
    margin-left: 0;
    left: auto; }

  .model__link {
    white-space: nowrap; }
  .model-detail__btn {
    right: auto;
    margin-left: 0;
    left: auto; }

  .creative-mobile__text {
    display: block; }
  .creative__text {
    display: none; }
  .creative__btn {
    width: 60px; }
  .creative__btn {
    right: 35px; } }
@media (max-width: 470px) {
  .item__title {
    max-width: 350px; }

  .header-middle__nav {
    gap: 25px; }

  .trend__title {
    font-size: 21px; }
  .trend__subtitle {
    font-size: 17px; }
  .trend__btn {
    top: 10px; }

  .sample__info {
    height: auto; }
  .sample__text {
    margin-bottom: 40px; }

  .model__info {
    height: auto; }
  .model__text {
    margin-bottom: 40px; }

  .innovation__wrapper {
    margin: 0; }

  .footer-info__box {
    padding: 30px 20px; }
  .footer__wrapper {
    padding: 10px 10px; }

  .tape-showroom__title, .tape-fitting__title, .tape-design__title, .tape-credit__title, .tape__text, .tape__item {
    max-width: 200px; } }
@media (max-width: 410px) {
  .header-middle__nav {
    padding: 25px 10px; }

  .tape-showroom__title, .tape-fitting__title, .tape-design__title, .tape-credit__title, .tape__text, .tape__item {
    width: 38vh; }

  .trend__title {
    font-size: 17px; } }
@media (max-width: 360px) {
  .header-middle__nav {
    padding: 25px 10px; }

  .logo__img {
    width: 120px; }

  .home-page__img {
    width: 113px;
    height: 86px; }

  .sample__btn {
    right: 11px; }

  .model__btn {
    right: 11px; } }

/*# sourceMappingURL=media.css.map */
