$top-color: #002b45;
$head-color: #fff;
@import "fonts.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Futura New";
  font-size: 15px;
  letter-spacing: -0.02em;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  color: $head-color;
}
@import "header.scss";

.tabs {
  display: flex;
  text-align: center;
  margin-bottom: 100px;
  gap: 31px;
  justify-content: center;
}

.tab {
  & {
    border-color: $head-color;
    cursor: pointer;
    font-family: "William Subhead Pro Reg";
    color: $top-color;
    font-size: 34px;
  }

  &-catalog__title::after,
  &-room__title::after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background: $top-color;
    border-radius: 50%;
    top: 18px;
  }

  &-catalog__title::after {
    margin-left: 191px;
  }

  &-room__title::after {
    margin-left: 165px;
  }

  &.active {
    color: $top-color;
  }
}

.home-page {
  &__item {
    text-align: center;
  }

  &__title {
    font-size: 22px;
    color: $top-color;
  }

  &__img {
    width: 141px;
    height: 100px;
  }

  &__title:hover {
    color: #e3ae46;
  }
}

.product-home {
  &-left.slick-arrow,
  &-right.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 19px;
    border: transparent;
    background-color: transparent;
  }

  &-right.slick-arrow {
    left: 135px;
  }

  &-left.slick-arrow {
    right: 157px;
  }

  &-left::before,
  &-right::before {
    font-family: "icomoon";
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 40px;
    background: $head-color;
    border-radius: 50px;
    cursor: pointer;
  }

  &-left::before {
    content: "\ea3c";
  }

  &-right::before {
    content: "\ea40";
  }
}

.small {
  &-menu__btn {
    display: block;
    color: $head-color;
    font-size: 15px;
    line-height: 32px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
    background-color: $top-color;
    text-align: center;
    letter-spacing: 0.04em;
    align-items: center;
    margin: 78px auto 100px;
    width: 199px;
    height: 52px;
  }

  &-menu__btn:hover {
    background-color: rgb(154, 115, 42);
  }

  &__box {
    display: flex;
    gap: 15px;
    margin-top: 60px;
    margin-bottom: 100px;
    justify-content: space-between;
  }

  &-new-menu__item,
  &-sale-menu__item,
  &-availability-menu__item {
    color: $top-color;
    font-size: 34px;
    line-height: 42px;
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  &-new-menu__item {
    background-color: #e6eef4;
  }

  &-sale-menu__item {
    background-color: #fbf7f1;
  }

  &-availability-menu__item {
    background-color: #e7dcb8;
  }

  &-menu__title {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: "William Subhead Pro Reg";
    padding-top: 28px;
  }

  &-menu__img {
    height: auto;
    padding-left: 7px;
    height: 139px;
    width: 191px;
    mix-blend-mode: darken;
  }
}

.stock {
  &__title {
    font-family: "William Subhead Pro";
    letter-spacing: -0.02em;
    font-size: 34px;
    line-height: 32px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }

  &__inner {
    width: 50%;
    max-height: 320px;
    position: relative;
  }

  &__text {
    font-size: 18px;
    line-height: 20px;
  }

  &__link {
    width: 100%;
  }

  & {
    display: flex;
    position: relative;
    margin-bottom: 100px;
    gap: 20px;
  }

  &-sofa__item,
  &-credit__item {
    border-left: 1px solid $head-color;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: space-between;
  }
}

.tape {
  &__text {
    padding: 0 15px;
    font-weight: normal;
  }

  & {
    display: flex;
    justify-content: space-between;
    background: #fbf7f1;
    text-align: center;
    padding-top: 79px;
    padding-bottom: 67px;
    margin-bottom: 131px;
    justify-content: center;
  }

  &-showroom__title,
  &-fitting__title,
  &-design__title,
  &-credit__title {
    background-color: #fbf7f1;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
    padding: 0 52px;
  }

  &__item {
    border-right: 1px solid #e3e5ef;
    width: 23%;
  }

  &__item:last-child {
    border: none;
  }
}

.trend {
  &__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 100px;
  }

  &__title {
    font-size: 27px;
    font-weight: normal;
    font-family: "William Subhead Pro Reg";
  }

  &__btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 50px;
    border: transparent;
    background-color: transparent;
    top: 23px;
  }

  &__subtitle {
    font-size: 19px;
    color: $top-color;
    border: transparent;
    background-color: transparent;
    font-weight: normal;
    padding-top: 4px;
  }

  &__subtitle::after {
    content: "\f105";
    font-family: "icomoon";
    color: $top-color;
    position: absolute;
    right: -6px;
  }

  &__slider {
    margin-bottom: 100px;
  }

  &-item__btn {
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    background-color: transparent;
  }

  &-heart__btn {
    border: none;
    position: absolute;
    z-index: 20;
    color: $top-color;
    font-size: 20px;
    background: #f8f8f8;
    border-radius: 50%;
    cursor: pointer;
    top: 0;
    right: 10px;
    width: 30px;
  }

  &__img,
  &-safe__img {
    display: flex;
    justify-content: center;
  }

  &__images,
  &-safe__images {
    width: 280px;
    height: 186px;
  }

  &-shelf__images {
    height: 194px;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &-price__text {
    color: $top-color;
    font-size: 16px;
  }

  &__link {
    color: $top-color;
    font-size: 20px;
  }

  &__text {
    color: #a1a4ae;
    font-size: 16px;
  }

  &-next.slick-arrow,
  &-prev.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 97px;
    border: transparent;
    background-color: transparent;
  }

  &-next.slick-arrow {
    right: 41px;
  }

  &-next::before,
  &-prev::before {
    font-family: "icomoon";
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 40px;
    background: $head-color;
    border-radius: 50px;
    cursor: pointer;
  }

  &-next::before {
    content: "\ea3c";
  }

  &-prev::before {
    content: "\ea40";
  }

  &__item {
    position: relative;
  }
}

.design {
  &__wrapper {
    margin-bottom: 100px;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__box {
    position: absolute;
    color: $head-color;
    border-left: 1px solid $head-color;
    top: 11px;
    right: 168px;
    padding-left: 14px;
    height: calc(100% - 34px);
  }

  &__title {
    line-height: 60px;
    font-family: "William Subhead Pro Reg";
    font-size: 31px;
  }

  &__text {
    position: absolute;
    bottom: 0;
  }
}

.interior {
  &__box {
    display: flex;
    position: relative;
    margin-bottom: 100px;
    gap: 73px;
  }

  &__title {
    font-family: "William Subhead Pro";
    letter-spacing: -0.02em;
    font-size: 34px;
    line-height: 26px;
    width: 150px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }

  &__inner {
    width: 50%;
    max-height: 320px;
    position: relative;
  }

  &__text {
    font-size: 18px;
    line-height: 16px;
  }

  &__link {
    width: 100%;
  }

  &__box {
    display: flex;
    position: relative;
    margin-bottom: 100px;
    gap: 20px;
    width: 100%;
  }

  &-sofa__item,
  &-library__item {
    border-left: 1px solid $head-color;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    top: 10px;
    right: 10px;
    justify-content: space-between;
    padding-left: 10px;
  }
}

.program {
  &-slider-btn {
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
  }

  &-slider-product {
    font-size: 12px;
    font-weight: 250;
    text-transform: none;
  }

  &-slider-item-images {
    max-width: 400px;
  }
}

.sample {
  & {
    background-color: #fbf7f1;
    padding-top: 61px;
    padding-bottom: 50px;
    border-bottom: 0.5px solid #e3e5ef;
  }

  &__images {
    max-width: 55%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__box {
    display: flex;
    position: relative;
  }

  &__info {
    max-width: 45%;
    padding-top: 116px;
    margin-left: 33px;
    border-left: 1px solid $top-color;
    border-right: 1px solid $top-color;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    color: $top-color;
  }

  &__subtitle {
    text-align: center;
    font-size: 41px;
    font-family: "William Subhead Pro Reg";
    margin-bottom: 10px;
    color: $top-color;
  }

  &__text {
    padding: 0 60px;
    margin-bottom: 10px;
    color: $top-color;
  }

  &__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    right: 75px;
  }

  &__btn::after,
  &-detail__btn::after {
    font-family: "icomoon";
    color: $top-color;
    position: absolute;
    top: 3px;
  }

  &__btn::after {
    content: "\f105";
    right: -7px;
  }

  &-detail__btn::after {
    content: "\f105";
    padding-left: 5px;
  }

  &-detail__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    margin-left: 65px;
  }

  &__link {
    color: $top-color;
    font-size: 17px;
  }

  &-slider-item-info {
    border-left: 1px solid $head-color;
    border-right: 1px solid $head-color;
    margin-left: 15px;
  }

  &-dots {
    list-style: none;
    position: absolute;
    display: flex;
    right: 374px;
    bottom: -30px;
  }

  &-dots li {
    margin: 0 4px;
  }

  &-dots button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: transparent;
    font-size: 0;
  }

  &-dots .slick-active button {
    background-color: black;
  }

  &__slider {
    padding-top: 60px;
  }
}

.model {
  & {
    background-color: #fbf7f1;
    padding-top: 61px;
    padding-bottom: 50px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__box {
    display: flex;
  }

  &__info {
    max-width: 45%;
    padding-top: 116px;
    margin-right: 33px;
    border-left: 1px solid $top-color;
    border-right: 1px solid $top-color;
  }

  &__images {
    max-width: 55%;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
    color: $top-color;
  }

  &__subtitle {
    text-align: center;
    font-size: 41px;
    font-family: "William Subhead Pro Reg";
    margin-bottom: 10px;
    color: $top-color;
  }

  &__text {
    padding: 0 148px;
    margin-bottom: 10px;
    color: $top-color;
  }

  &__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    margin-left: 354px;
  }

  &__btn::after {
    content: "\f105";
    font-family: "icomoon";
    color: $top-color;
    position: absolute;
    top: 3px;
    right: -7px;
  }

  &-detail__btn ::after {
    content: "\f105";
    font-family: "icomoon";
    color: $top-color;
    font-size: 17px;
    position: absolute;
    top: 3px;
    padding-left: 5px;
  }

  &-detail__btn {
    border: none;
    background-color: transparent;
    position: absolute;
    margin-left: 132px;
  }

  &__link {
    color: $top-color;
    font-size: 17px;
  }

  &-dots {
    list-style: none;
    position: absolute;
    display: flex;
    bottom: -30px;
  }

  &-dots li {
    margin: 0 4px;
  }

  &-dots button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: transparent;
    font-size: 0;
  }

  &-dots .slick-active button {
    background-color: black;
  }

  &__slider {
    padding-top: 60px;
  }
}

.creative {
  &__box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 100px;
  }

  &__title {
    font-size: 27px;
    font-weight: normal;
    font-family: "William Subhead Pro Reg";
  }

  &__btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 130px;
    right: 100px;
    border: transparent;
    background-color: transparent;
    top: 23px;
  }

  &__text {
    font-size: 15px;
    color: #002b45;
    border: transparent;
    background-color: transparent;
    font-weight: normal;
    padding-top: 7px;
  }

  &-mobile__text {
    font-size: 18px;
    color: #002b45;
    border: transparent;
    background-color: transparent;
    font-weight: normal;
    padding-top: 7px;
    display: none;
  }
}

.artist {
  & {
    margin-bottom: 100px;
  }

  &__img {
    height: 286px;
  }
  &__images {
    height: 286px;
  }

  &-small__img {
    width: 83px;
    height: 83px;
    position: absolute;
    bottom: 12px;
    z-index: 15;
    margin-left: 65px;
  }

  &-small__images {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    border: 1px solid $top-color;
    padding: 5px;
    background: $head-color;
  }

  &__left.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 103px;
    right: -8px;
    border: transparent;
    background-color: transparent;
  }

  &__right.slick-arrow {
    position: absolute;
    z-index: 1;
    top: 103px;
    border: transparent;
    background-color: transparent;
    left: -56px;
  }

  &__left::before,
  &__right::before {
    font-family: "icomoon";
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 40px;
    background: $head-color;
    border-radius: 50px;
    cursor: pointer;
  }

  &__left::before {
    content: "\ea3c";
  }

  &__right::before {
    content: "\ea40";
  }
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #002b45;
}
.innovation {
  &__wrapper {
    margin-bottom: 100px;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;
    color: $head-color;
    border-left: 1px solid $head-color;
    top: 11px;
    right: 0;
    padding-left: 14px;
    height: calc(100% - 34px);
  }

  &__title {
    line-height: 60px;
    font-family: "William Subhead Pro Reg";
    font-size: 31px;
  }

  &__text {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 21px;
  }
}

.blog {
  &__subtitle::after {
    content: "\f105";
    font-family: "icomoon";
    color: $top-color;
    font-size: 17px;
    padding-left: 5px;
    position: absolute;
  }

  &__title {
    font-family: "William Subhead Pro Reg";
    color: $top-color;
    font-size: 25px;
    font-weight: 400;
  }

  &__link {
    color: $top-color;
    padding-top: 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &-new__img {
    max-width: 95%;
  }
}

.swiper {
  & {
    padding-top: 50px;
    display: none;
  }
}
.picture {
  &-next.slick-arrow {
    position: absolute;
    z-index: 1;
    margin-top: -247px;
    border: transparent;
    background-color: transparent;
  }

  &-prev.slick-arrow {
    position: absolute;
    z-index: 1;
    bottom: 200px;
    right: 54px;
    border: transparent;
    background-color: transparent;
    margin-top: 130px;
  }

  &-next::before {
    content: "\ea40";
    font-family: "icomoon";
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 40px;
    background: $head-color;
    border-radius: 50px;
    cursor: pointer;
  }

  &-prev::before {
    content: "\ea3c";
    font-family: "icomoon";
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 40px;
    background: $head-color;
    border-radius: 50px;
    cursor: pointer;
  }
}

.blog {
  &-chapter-first__link {
    color: $top-color;
  }

  &-chapter__link {
    color: #a1a4ae;
  }

  &-chapter__link:hover {
    color: $top-color;
  }

  &-new__link {
    color: $top-color;
    font-size: 13px;
    text-transform: uppercase;
  }

  &-bed__link {
    color: $top-color;
    font-family: "William Subhead Pro Reg";
  }

  &-new__data {
    color: #a1a4ae;
  }

  &__menu {
    margin-bottom: 80px;
  }

  &-new__inner {
    margin-top: 16px;
    margin-bottom: 10px;
  }

  &-new__item {
    margin-bottom: 12px;
  }

  &-chapter__nav {
    margin-bottom: 25px;
    height: 50px;
    border-top: 0.5px solid #e3e5ef;
    border-bottom: 0.5px solid #e3e5ef;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    gap: 15px;
    display: flex;
  }

  &__subtitle {
    font-size: 16px;
  }
}

.subscription {
  & {
    display: flex;
    justify-content: space-between;
    background-color: #fbf7f1;
    margin-top: 90px;
    margin-bottom: 90px;
  }

  &__box {
    height: 100px;
    padding-top: 28px;
    padding-left: 28px;
  }

  &__title {
    font-size: 19px;
  }

  &__text {
    font-size: 18px;
    color: #a1a4ae;
    opacity: 0.7;
  }

  &__link {
    text-decoration: underline;
    color: #a1a4ae;
    opacity: 0.7;
  }
}

.mail {
  & {
    padding-top: 30px;
  }

  &-text {
    height: 43px;
    width: 300px;
    background-color: #fbf7f1;
    border: 0.5px solid #e3e5ef;
    padding-left: 14px;
  }

  &-submit {
    height: 43px;
    width: 150px;
    background-color: #fbf7f1;
    margin-right: 21px;
    margin-left: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &-submit:hover {
    border: 0.5px solid #e3ae46;
    color: #e3ae46;
  }
}

input::-webkit-input-placeholder {
  color: #a1a4ae;
  font-size: 18px;
}

.subscription-adaptive {
  & {
    background-color: #fbf7f1;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    display: none;
  }

  &__box {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 19px;
  }

  &__text {
    font-size: 18px;
    color: #a1a4ae;
    opacity: 0.7;
    max-width: 223px;
  }

  &__link {
    text-decoration: underline;
    color: #a1a4ae;
    opacity: 0.7;
  }
}

.mail-adaptive {
  & {
    display: flex;
    flex-direction: column;
  }

  &__text {
    height: 43px;
    background-color: #fbf7f1;
    border: 0.5px solid #e3e5ef;
    padding-left: 14px;
    margin-bottom: 30px;
  }

  &__submit {
    height: 43px;
    background-color: #fbf7f1;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 25px;
  }

  &__submit:hover {
    border: 0.5px solid #e3ae46;
    color: #e3ae46;
  }
}

input::-webkit-input-placeholder {
  color: #a1a4ae;
  font-size: 18px;
}

.comfort {
  & {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__box {
    max-width: 695px;
    max-height: 659px;
  }

  &-subtitle__link,
  &-subtitle-one__link {
    color: $top-color;
  }

  &-subtitle-one__link {
    display: none;
  }

  &__images {
    width: 100%;
    height: 100%;
  }

  &__inner {
    background-color: #fbf7f1;
    padding-left: 20px;
  }

  &__title {
    font-family: "William Subhead Pro Reg";
    font-size: 26px;
    font-weight: 400;
    color: $top-color;
  }

  &__link {
    color: $top-color;
  }

  &__btn {
    background-color: transparent;
    border: none;
    margin-bottom: 80px;
  }

  &__btn::after {
    content: "\f105";
    font-family: "icomoon";
    color: $top-color;
    font-size: 17px;
    padding-left: 5px;
    position: absolute;
  }

  &__list {
    list-style: none;
    font-size: 28px;
    font-family: "William Subhead Pro Reg";
    padding-left: 0;
  }

  &__text {
    font-size: 18px;
  }
}

.blog-comfort__text {
  display: none;
}

.picture {
  &__link {
    color: $top-color;
    display: flex;
    gap: 20px;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 33px;
    font-family: "William Subhead Pro Reg";
    font-weight: 400;
  }

  &__subtitle {
    color: #828282;
    font-size: 17px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e3e5ef;
  }

  &__wrapper {
    margin-bottom: 100px;
  }

  &__item {
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__link {
    border-right: 1px solid #e3e5ef;
  }
}
@import "footer.scss";
@import "media.scss";
